.jumbotron {
  background-color: #343a40;
  border-radius: 0;
  color: #fff;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  color: pink;
}

.card-hotel {
  background-color: hotpink;
  flex: 1 150px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
