.jumbotron {
  background-color: #343a40;
  border-radius: 0;
  color: #fff;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  color: pink;
}

.card-hotel {
  display: flex;
  flex: 1 250px;
  flex-direction: column;
  justify-content: space-between;
}

.btn-reserva {
  border-radius: 0;
}

/* .card {
  border: 2px solid #000000;
} */

.imagen {
  /* height: 200px; */
  width: 100%;
}
